NODE_ENV=production

# LINE Login (OAuth 2.0)
LINE_CHANNEL_LOGIN_ID=
LINE_CHANNEL_LOGIN_SECRET=

# LINE Messaging API (Bot + Notify)
LINE_CHANNEL_MESSAGING_ID=
LINE_CHANNEL_MESSAGING_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# LIFF (LINE Front-end Framework)
LINE_LIFF_ID=

# URLs
LINE_CALLBACK_URL=
LINE_FRONTEND_URL=https://mymonth-app.fly.dev

# Database (PostgreSQL)
DATABASE_URL=

# Server
PORT=8080
